* {
    box-sizing: border-box;
  }
  
  ._cardOutlined {
    border: 1px dashed gray !important;
  }
  
  ._subtitle {
    opacity: 0.5;
  }
  
  
  ._scroll-bar {
    overflow: auto
  }
  
  ._scroll-bar::-webkit-scrollbar-track
  {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: rgba(0,0,0,0.3);
  }
  
  ._scroll-bar::-webkit-scrollbar
  {
    width: 5px;
    height: 5px;
  }
  
  ._scroll-bar::-webkit-scrollbar-thumb
  {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: grey;
  }

  h2 {
    margin-bottom: 45px;
  }
  